body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.beast-layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.azure-backgnd {
  font-size: 3em;
  color: black;
  background: azure;
  text-align: center;
}
.otha-backgnd {
  font-size: 3em;
  color: azure;
  background: black;
  text-align: center;
}