.beast-layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.azure-backgnd {
  font-size: 3em;
  color: black;
  background: azure;
  text-align: center;
}
.otha-backgnd {
  font-size: 3em;
  color: azure;
  background: black;
  text-align: center;
}